/* Overline From Left */
@mixin overline-from-left {
  $duration: $mediumDuration;

  @include hacks();
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: $activeColor;
    height: 4px;
    @include prefixed(transition-property, 'right');
    @include prefixed(transition-duration, $duration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:focus,
  &:active {
    &:before {
      right: 0;
    }
  }
}
