.studentsPage {
  color: #000;
  padding: 12px;
}
.studentsPage:before {
  content: '';
  background-color: #95affb;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 5;
}

.s-container * {
  box-sizing: border-box;
}

.s-section-title {
  margin-bottom: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  font-size: 17px;
  color: #7873f7;
}

.s-container {
  width: 100%;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Lato', sans-serif;
  color: #000;
}

.s-card {
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 15px;
  transition: 0.3s;
  background-color: white;
}

.s-card:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.s-avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 10px 0 0;
  object-fit: cover;
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.s-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-bottom: 15px;
}

.no-margin {
  margin: 0 !important;
}

.s-name {
  font-size: 18px;
  color: #7973f7;
  margin-bottom: 0 !important;
}

.s-cell {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  color: #666;
  /* padding-left: 30px; */
}

.pull-right {
  float: right;
}

.s-action {
  padding: 10px 25px;
  background: #fff;
  border: 1px solid #7973f7;
  box-shadow: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  border-radius: 10px;
  color: #7973f7;
  cursor: pointer;
  transition: 0.3s;
}

.s-action:hover {
  background-color: #7973f7;
  color: #fff;
}

.border-top {
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.s-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.s-p-item {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #7973f7;
  border-radius: 50%;
  color: #7973f7;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
}

.s-p-item.long {
  width: 50px;
  border-radius: 20px;
}

.s-p-item:hover {
  background-color: #7973f7;
  color: #fff;
}

.s-form-group {
  margin-bottom: 15px;
}

.s-half {
  width: 50%;
  padding: 0 15px;
  float: left;
}

.s-row {
  margin-left: -15px;
  margin-right: -15px;
}

.s-form-control {
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.s-action.fill {
  background-color: #7973f7;
  color: #fff;
}

.s-label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #666;
  width: 100%;
  display: inline-block;
}

.s-search-bar {
  margin-bottom: 15px;
}

.s-search-bar input {
  border-radius: 10px;
  border-color: #ddd;
  outline: 0 !important;
  transition: 0.3s;
}

.s-search-bar input:focus {
  border-color: #7973f7;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important; */
}

.s-progress {
  height: 6px;
  /* width: 90%; */
  max-width: 500px;
  width: 300px;
  background: #eee;
  display: inline-block;
  border-radius: 50px;
  overflow: hidden;
}

.s-percentage {
  background: #7973f7;
  display: inline-block;
  border-radius: 50px;
  height: 6px;
  width: 70%;
  display: block;
}

.s-container button,
.s-container input {
  outline: 0 !important;
}

.image-alter {
  display: none;
}

.no-image img {
  display: none;
}

.no-image .image-alter {
  display: inline;
  width: 70px;
  height: 70px;
  border: 1px solid #7973f7;
  border-radius: 50%;
  margin: 0 10px 0 0;
  object-fit: cover;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7973f7;
  background: #fcfcfc;
}

.s-current {
  margin-bottom: 20px;
}

.s-current .s-cell {
  font-size: 18px;
  margin-bottom: 5px;
}
