/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0; }

h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

#companyProfile, #companyProfile .page-insight .page-insight__wrapper {
  width: calc(100% - 40px);
  margin: 0 20px; }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    #companyProfile, #companyProfile .page-insight .page-insight__wrapper {
      width: calc(100% - 80px);
      margin: 0 auto; } }
  @media only screen and (min-width: 1440px) {
    #companyProfile, #companyProfile .page-insight .page-insight__wrapper {
      width: 1200px;
      margin: 0 auto; } }

#companyProfile .page-insight {
  width: 100vw;
  transform: translate(-50%);
  left: 50%;
  position: relative; }
  #companyProfile .page-insight .page-insight__wrapper {
    padding: 25px 0; }
    #companyProfile .page-insight .page-insight__wrapper .employee__photo {
      flex-basis: 60px;
      min-width: 60px;
      height: 60px;
      margin-right: 18px;
      overflow: hidden;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #companyProfile .page-insight .page-insight__wrapper .employee__photo a {
        height: 100%; }
      #companyProfile .page-insight .page-insight__wrapper .employee__photo img {
        height: 100%; }
    #companyProfile .page-insight .page-insight__wrapper .employee__info h4 {
      font-size: 1.5rem;
      font-weight: 500; }
      #companyProfile .page-insight .page-insight__wrapper .employee__info h4 a {
        color: #7a9bf8; }
    #companyProfile .page-insight .page-insight__wrapper .employee__info p:nth-of-type(1) {
      font-size: 1.125rem;
      margin: 10px 0; }
    #companyProfile .page-insight .page-insight__wrapper .employee__info p:nth-of-type(2) {
      font-size: 0.875rem; }
  #companyProfile .page-insight .company-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #companyProfile .page-insight .company-header .company-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap; }
    #companyProfile .page-insight .company-header .title {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #778dc8;
      padding-left: 15px; }
    #companyProfile .page-insight .company-header .link-icon {
      width: 13px;
      margin-left: 7px;
      margin-right: 10px; }
    #companyProfile .page-insight .company-header .company-logo {
      width: 56px;
      height: 56px;
      border-radius: 9px;
      background-color: #ffffff;
      padding: 8px; }
    #companyProfile .page-insight .company-header .comapre-button {
      width: 131px;
      border-radius: 20.5px;
      background-color: #778dc8;
      padding: 10px 16px;
      border-color: transparent;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      margin-left: 10px; }
    #companyProfile .page-insight .company-header .comapre-search {
      max-width: 200px;
      display: none; }
    #companyProfile .page-insight .company-header input {
      max-width: 327px;
      object-fit: contain;
      border-radius: 20.5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      border-color: transparent;
      padding: 10px 17px; }
  #companyProfile .page-insight hr {
    width: 1440px;
    border: solid 1px #e7e7e7;
    margin-top: 0; }

#companyProfile .l-progress-wrapper {
  padding: 0 30px; }
  #companyProfile .l-progress-wrapper .l-progress {
    width: 100%;
    height: 15px;
    overflow: hidden;
    border-radius: 30px;
    background-color: #cfcfcf; }
    #companyProfile .l-progress-wrapper .l-progress .progress-bar {
      display: block;
      height: 15px;
      border-radius: 30px;
      background-color: #7a9bf8;
      width: 90%; }
    #companyProfile .l-progress-wrapper .l-progress.progress-complete .progress-bar {
      background-color: #fdcb00; }
  #companyProfile .l-progress-wrapper .progress-text-info {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #companyProfile .l-progress-wrapper .progress-text-info.top {
      margin-bottom: 12px; }
      #companyProfile .l-progress-wrapper .progress-text-info.top span:nth-of-type(1) {
        font-size: 1.125rem; }
    #companyProfile .l-progress-wrapper .progress-text-info.bottom {
      margin-top: 12px; }

#companyProfile .skills-list {
  display: flex;
  flex-wrap: wrap; }
  #companyProfile .skills-list article {
    flex-grow: 1;
    flex-basis: calc(50% - 15px);
    position: relative; }
    @media (max-width: 768px) {
      #companyProfile .skills-list article {
        flex-basis: 100%; } }
    #companyProfile .skills-list article:first-child {
      margin-right: 30px; }
      @media (max-width: 768px) {
        #companyProfile .skills-list article:first-child {
          margin-right: 0; } }
  #companyProfile .skills-list .view-all-skills {
    width: 100%; }

#companyProfile .section-title {
  color: #333;
  font-size: 1.125rem;
  border-bottom: 1px solid #eee;
  padding: 24px 30px; }

#companyProfile .top-skills {
  height: 380px; }
  #companyProfile .top-skills ul {
    height: 300px;
    padding: 0 30px;
    overflow-y: scroll;
    overflow-x: hidden; }
  #companyProfile .top-skills li {
    margin: 30px 0; }
  #companyProfile .top-skills .skill-progress {
    width: 100%;
    height: 15px;
    overflow: hidden; }
    #companyProfile .top-skills .skill-progress .progress-bar {
      border-radius: 30px;
      display: block;
      height: 15px;
      background-color: #7a9bf8;
      width: 100%; }
  #companyProfile .top-skills .skill-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    line-height: 0.875rem;
    text-transform: capitalize; }
    #companyProfile .top-skills .skill-info span:nth-child(1) {
      font-size: 0.875rem; }
    #companyProfile .top-skills .skill-info span:nth-child(2) {
      font-size: 0.75rem;
      color: #7a9bf8; }

#companyProfile .skills-data {
  height: 380px; }
  #companyProfile .skills-data ul {
    height: 300px;
    padding: 0 30px;
    overflow-y: scroll;
    overflow-x: hidden; }
  #companyProfile .skills-data li {
    margin: 20px 0; }
  #companyProfile .skills-data .skill-info {
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 12px; }
  #companyProfile .skills-data .skill__name {
    flex-grow: 1;
    font-weight: 700;
    text-transform: capitalize; }
  #companyProfile .skills-data .skill__employees-percent {
    margin-right: 5px; }
  #companyProfile .skills-data.existing-skills .skill-info {
    color: #8cbe32;
    border: 1px solid #8cbe32; }
  #companyProfile .skills-data.gap-skills .skill-info {
    color: #ce5959;
    border: 1px solid #ce5959; }

#companyProfile .employees-listing__tab-link {
  display: flex;
  padding: 30px 30px 0; }
  #companyProfile .employees-listing__tab-link li {
    flex-basis: 240px; }
  #companyProfile .employees-listing__tab-link h3 {
    font-size: 1.125rem;
    font-weight: 300; }
    #companyProfile .employees-listing__tab-link h3 a {
      border-style: solid;
      border-color: #f7f7f7;
      border-width: 1px 1px 0 1px;
      background-color: white;
      display: block;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      border-radius: 12px 12px 0 0;
      color: #7a9bf8; }
      #companyProfile .employees-listing__tab-link h3 a.current {
        color: black;
        background-color: #f7f7f7; }
    #companyProfile .employees-listing__tab-link h3 a:hover {
      cursor: pointer; }

#companyProfile .employees-listing__tab {
  min-height: 500px;
  position: relative; }
  #companyProfile .employees-listing__tab:after {
    content: '';
    display: block;
    height: 30px; }
  #companyProfile .employees-listing__tab .employee.blur-this {
    filter: blur(4px);
    opacity: 0.6; }
  #companyProfile .employees-listing__tab ul {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 25px 0;
    margin: 0 30px;
    border: 1px solid #f7f7f7;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden; }
    #companyProfile .employees-listing__tab ul div:first-child {
      display: flex;
      flex-wrap: wrap; }
  #companyProfile .employees-listing__tab li {
    display: flex;
    flex-grow: 1;
    flex-basis: calc(50% - 40px);
    max-width: calc(100% - 40px);
    min-width: calc(50% - 40px);
    margin-bottom: 30px; }
    #companyProfile .employees-listing__tab li:nth-child(odd) {
      margin-right: 80px; }
    @media (max-width: 1199px) {
      #companyProfile .employees-listing__tab li {
        flex-basis: 100%;
        min-width: 100%;
        max-width: unset; } }
  #companyProfile .employees-listing__tab .employee__photo {
    flex-basis: 60px;
    min-width: 60px;
    height: 60px;
    margin-right: 18px;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #companyProfile .employees-listing__tab .employee__photo a {
      height: 100%; }
    #companyProfile .employees-listing__tab .employee__photo img {
      height: 100%; }
  #companyProfile .employees-listing__tab .employee__info h4 {
    font-size: 1.5rem;
    font-weight: 500; }
    #companyProfile .employees-listing__tab .employee__info h4 a {
      color: #7a9bf8; }
  #companyProfile .employees-listing__tab .employee__info p:nth-of-type(1) {
    font-size: 1.125rem;
    margin: 10px 0; }
  #companyProfile .employees-listing__tab .employee__info p:nth-of-type(2) {
    font-size: 0.875rem; }

#companyProfile .get-in-touch-btn {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%); }

#companyProfile .invite-employees-message p {
  max-width: 505px;
  margin: 90px auto 20px; }

#companyProfile .skills-charts {
  display: grid;
  /*grid-template-columns: 50% 50%;*/
  grid-template-columns: 100%; }
  #companyProfile .skills-charts h2 {
    grid-column-start: 1;
    grid-column-end: span 2; }
  #companyProfile .skills-charts div {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    align-self: center;
    justify-self: center;
    padding: 30px 0; }

#companyProfile .layout-wrapper {
  --ko-learning-progress-width: 35%;
  --ko-learning-progress-gap: 30px;
  display: flex;
  flex-wrap: wrap; }
  #companyProfile .layout-wrapper .ko-learning-progress {
    flex-basis: var(--ko-learning-progress-width);
    max-width: var(--ko-learning-progress-width);
    margin-right: 30px; }
  #companyProfile .layout-wrapper .skills-info-graphs {
    flex-grow: 1;
    flex-basis: calc( 100% - (var(--ko-learning-progress-width) + var(--ko-learning-progress-gap))); }
  @media (max-width: 1199px) {
    #companyProfile .layout-wrapper > section {
      flex-basis: 100% !important;
      min-width: 100%;
      max-width: 100% !important; } }

#companyProfile .ko-learning-progress .level-progress .l-progress-wrapper {
  margin-top: 30px;
  padding-bottom: 30px; }

#companyProfile .ko-learning-progress .topics-progress .topic {
  padding-bottom: 30px; }
  #companyProfile .ko-learning-progress .topics-progress .topic:nth-child(1) {
    margin-top: 30px; }

#companyProfile.employee-page ul {
  height: 90%; }

#companyProfile.employee-page .skills-data li {
  margin: 6px 0; }

#companyProfile.employee-page .skills-data .section-title {
  font-size: 0.875rem;
  padding: 0 30px;
  border: medium none;
  margin-bottom: 10px; }

#companyProfile.employee-page .skills-data.existing-skills .section-title {
  color: #8cbe32;
  padding: 0; }

#companyProfile.employee-page .skills-data.gap-skills .section-title {
  color: #ce5959;
  padding: 0; }

#companyProfile.employee-page .skills-list {
  padding: 20px 30px 0; }
  #companyProfile.employee-page .skills-list .skills-data ul {
    padding: 0; }

#companyProfile.employee-page .page-insight__wrapper {
  display: flex; }

#companyProfile .get-in-touch-modal label svg {
  transform: translateY(0%); }

.invite-employees .modal-wrapper {
  padding: 0;
  background-color: #dfe6fc; }
  .invite-employees .modal-wrapper img.illu {
    width: 100%;
    border-radius: 20px 20px 0 0; }
    @media (min-width: 480px) {
      .invite-employees .modal-wrapper img.illu {
        margin-bottom: -30px; } }
  .invite-employees .modal-wrapper .csv-reader-input {
    display: none; }

a.invite-email {
  color: #7ea2ff;
  font-size: 18px;
  font-weight: bold; }

.character-message {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  padding-top: 30px; }
  .character-message > div {
    grid-column: 2 / span 6; }
    @media (max-width: 768px) {
      .character-message > div {
        grid-column: 1 / end; } }

.main-categories_btns {
  object-fit: contain;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 8px 15px 0; }
  .main-categories_btns button {
    background-color: transparent;
    padding: 15px 35px;
    color: #778dc8;
    border-radius: 4px;
    border-color: transparent;
    font-size: 20px;
    font-weight: 500px;
    outline: none;
    cursor: pointer; }
  .main-categories_btns button:focus {
    background-color: #f7f7f7;
    outline: none; }
  .main-categories_btns .locked-buttons {
    opacity: 0.6;
    cursor: not-allowed; }

.people-insights-categories {
  margin-top: 15px;
  object-fit: contain;
  border-radius: 8px;
  background-color: transparent;
  padding: 0; }
  .people-insights-categories button {
    background-color: #ffffff;
    margin-right: 14px;
    padding: 15px 35px;
    color: #778dc8;
    border-radius: 4px;
    border-color: transparent;
    font-size: 18px;
    font-weight: 500px;
    outline: none; }
  .people-insights-categories button:focus {
    background-color: #f7f7f7;
    border-color: transparent;
    outline: none; }
