@import '../App/App.scss';

#companyProfile {
  @extend %container-1200;
  .page-insight {
    // background-color: white;
    width: 100vw;
    transform: translate(-50%);
    left: 50%;
    position: relative;
    .page-insight__wrapper {
      @extend %container-1200;
      padding: 25px 0;

      .employee__photo {
        flex-basis: 60px;
        min-width: 60px;
        height: 60px;
        margin-right: 18px;
        overflow: hidden;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          height: 100%;
        }
        img {
          height: 100%;
        }
      }
      .employee__info {
        h4 {
          font-size: calc-rem(24);
          font-weight: $medium-weight;
          a {
            color: $primary-ko-color;
          }
        }
        p:nth-of-type(1) {
          font-size: calc-rem(18);
          margin: 10px 0;
        }
        p:nth-of-type(2) {
          font-size: calc-rem(14);
        }
      }
    }
    .company-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .company-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
      .title {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #778dc8;
        padding-left: 15px;
      }
      .link-icon {
        width: 13px;
        margin-left: 7px;
        margin-right: 10px;
      }
      .company-logo {
        width: 56px;
        height: 56px;
        border-radius: 9px;
        background-color: #ffffff;
        padding: 8px;
      }
      .comapre-button {
        width: 131px;
        border-radius: 20.5px;
        background-color: #778dc8;
        padding: 10px 16px;
        border-color: transparent;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        margin-left: 10px;
      }
      .comapre-search {
        max-width: 200px;
        display: none;
      }
      input {
        max-width: 327px;
        object-fit: contain;
        border-radius: 20.5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        border-color: transparent;
        padding: 10px 17px;
      }
    }
    hr {
      width: 1440px;
      border: solid 1px #e7e7e7;
      margin-top: 0;
    }
  }

  .l-progress-wrapper {
    padding: 0 30px;
    .l-progress {
      width: 100%;
      height: 15px;
      overflow: hidden;
      border-radius: 30px;
      background-color: #cfcfcf;
      .progress-bar {
        display: block;
        height: 15px;
        border-radius: 30px;
        background-color: $primary-ko-color;
        width: 90%;
      }
      &.progress-complete {
        .progress-bar {
          background-color: $primary-alert-color;
        }
      }
    }
    .progress-text-info {
      font-size: calc-rem(12);
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.top {
        margin-bottom: 12px;
        span:nth-of-type(1) {
          font-size: calc-rem(18);
        }
      }
      &.bottom {
        margin-top: 12px;
      }
    }
  }

  // Company Profile
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    article {
      flex-grow: 1;
      flex-basis: calc(50% - 15px);
      position: relative;
      @media (max-width: get-screen-width($tablet-width)) {
        flex-basis: 100%;
      }
      &:first-child {
        margin-right: 30px;
        @media (max-width: get-screen-width($tablet-width)) {
          margin-right: 0;
        }
      }
    }
    .view-all-skills {
      width: 100%;
    }
  }

  .section-title {
    color: #333;
    font-size: calc-rem(18);
    border-bottom: 1px solid #eee;
    padding: 24px 30px;
  }

  .top-skills {
    height: 380px;
    ul {
      height: 300px;
      padding: 0 30px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    li {
      margin: 30px 0;
    }
    .skill-progress {
      width: 100%;
      height: 15px;
      overflow: hidden;
      .progress-bar {
        border-radius: 30px;
        display: block;
        height: 15px;
        background-color: $primary-ko-color;
        width: 100%;
      }
    }
    .skill-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      line-height: calc-rem(14);
      text-transform: capitalize;
      span:nth-child(1) {
        font-size: calc-rem(14);
      }
      span:nth-child(2) {
        font-size: calc-rem(12);
        color: $primary-ko-color;
      }
    }
  }

  .skills-data {
    height: 380px;
    ul {
      height: 300px;
      padding: 0 30px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    li {
      margin: 20px 0;
    }
    .skill-info {
      border-radius: 5px;
      display: flex;
      align-items: center;
      font-size: calc-rem(14);
      padding: 12px;
    }
    .skill__name {
      flex-grow: 1;
      font-weight: $bold-weight;
      text-transform: capitalize;
    }
    .skill__employees-percent {
      margin-right: 5px;
    }
    &.existing-skills {
      .skill-info {
        color: $primary-success-color;
        border: 1px solid $primary-success-color;
      }
    }
    &.gap-skills {
      .skill-info {
        color: $primary-error-color;
        border: 1px solid $primary-error-color;
      }
    }
  }

  .employees-listing__tab-link {
    display: flex;
    padding: 30px 30px 0;
    li {
      flex-basis: 240px;
    }
    h3 {
      font-size: calc-rem(18);
      font-weight: $light-weight;
      a {
        border-style: solid;
        border-color: #f7f7f7;
        border-width: 1px 1px 0 1px;
        background-color: white;
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-radius: 12px 12px 0 0;
        color: $primary-link-color;
        &.current {
          color: $primary-text-color;
          background-color: #f7f7f7;
        }
      }
      a:hover {
        cursor: pointer;
      }
    }
  }

  .employees-listing__tab {
    min-height: 500px;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 30px;
    }
    .employee {
      &.blur-this {
        filter: blur(4px);
        opacity: 0.6;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 30px 25px 0;
      margin: 0 30px;
      border: 1px solid #f7f7f7;
      height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
      div {
        &:first-child {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
    li {
      display: flex;
      flex-grow: 1;
      flex-basis: calc(50% - 40px);
      max-width: calc(100% - 40px);
      min-width: calc(50% - 40px);
      margin-bottom: 30px;
      &:nth-child(odd) {
        margin-right: 80px;
      }
      @media (max-width: get-screen-width(($desktop-width), -1)) {
        flex-basis: 100%;
        min-width: 100%;
        max-width: unset;
      }
    }
    .employee__photo {
      flex-basis: 60px;
      min-width: 60px;
      height: 60px;
      margin-right: 18px;
      overflow: hidden;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        height: 100%;
      }
      img {
        height: 100%;
      }
    }
    .employee__info {
      h4 {
        font-size: calc-rem(24);
        font-weight: $medium-weight;
        a {
          color: $primary-ko-color;
        }
      }
      p:nth-of-type(1) {
        font-size: calc-rem(18);
        margin: 10px 0;
      }
      p:nth-of-type(2) {
        font-size: calc-rem(14);
      }
    }
  }

  .get-in-touch-btn {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
  }

  .invite-employees-message {
    p {
      max-width: 505px;
      margin: 90px auto 20px;
    }
  }

  // Employee Profile
  .skills-charts {
    //START= TO BE REVISITED
    display: grid;
    /*grid-template-columns: 50% 50%;*/
    grid-template-columns: 100%;
    h2 {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
    div {
      font-size: calc-rem(36);
      text-transform: uppercase;
      font-weight: $bold-weight;
      align-self: center;
      justify-self: center;
      padding: 30px 0;
    }
    //END= TO BE REVISITED
  }

  .layout-wrapper {
    --ko-learning-progress-width: 35%;
    --ko-learning-progress-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    .ko-learning-progress {
      flex-basis: var(--ko-learning-progress-width);
      max-width: var(--ko-learning-progress-width);
      margin-right: 30px;
    }
    .skills-info-graphs {
      flex-grow: 1;
      flex-basis: calc(
        100% - (var(--ko-learning-progress-width) +
              var(--ko-learning-progress-gap))
      );
    }
    @media (max-width: get-screen-width(($desktop-width), -1)) {
      > section {
        flex-basis: 100% !important;
        min-width: 100%;
        max-width: 100% !important;
      }
    }
  }

  .ko-learning-progress {
    .level-progress {
      .l-progress-wrapper {
        margin-top: 30px;
        padding-bottom: 30px;
      }
    }

    .topics-progress {
      .topic {
        padding-bottom: 30px;
        &:nth-child(1) {
          margin-top: 30px;
        }
      }
    }
  }

  &.employee-page {
    ul {
      height: 90%;
    }
    .skills-data {
      li {
        margin: 6px 0;
      }
      .section-title {
        font-size: calc-rem(14);
        padding: 0 30px;
        border: medium none;
        margin-bottom: 10px;
      }
      &.existing-skills {
        .section-title {
          color: $primary-success-color;
          padding: 0;
        }
      }
      &.gap-skills {
        .section-title {
          color: $primary-error-color;
          padding: 0;
        }
      }
    }
    .skills-list {
      padding: 20px 30px 0;
      .skills-data ul {
        padding: 0;
      }
    }
    .page-insight__wrapper {
      display: flex;
    }
  }

  .get-in-touch-modal label svg {
    transform: translateY(0%);
  }
}
.invite-employees {
  .modal-wrapper {
    padding: 0;
    background-color: #dfe6fc;
    img.illu {
      width: 100%;
      border-radius: 20px 20px 0 0;
      @media (min-width: get-screen-width(($mobile-width))) {
        margin-bottom: -30px;
      }
    }
    .csv-reader-input {
      display: none;
    }
  }
}

a.invite-email {
  color: #7ea2ff;
  font-size: 18px;
  font-weight: bold;
}

.character-message {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  padding-top: 30px;
  > div {
    grid-column: 2 / span 6;
    @media (max-width: get-screen-width($tablet-width)) {
      grid-column: 1 / end;
    }
  }
}
.main-categories_btns {
  object-fit: contain;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 8px 15px 0;
  button {
    background-color: transparent;
    padding: 15px 35px;
    color: #778dc8;
    border-radius: 4px;
    border-color: transparent;
    font-size: 20px;
    font-weight: 500px;
    outline: none;
    cursor: pointer;
  }
  button:focus {
    background-color: #f7f7f7;
    outline: none;
  }
  .locked-buttons {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
.people-insights-categories {
  margin-top: 15px;
  object-fit: contain;
  border-radius: 8px;
  background-color: transparent;
  padding: 0;
  button {
    background-color: #ffffff;
    margin-right: 14px;
    padding: 15px 35px;
    color: #778dc8;
    border-radius: 4px;
    border-color: transparent;
    font-size: 18px;
    font-weight: 500px;
    outline: none;
  }
  button:focus {
    background-color: #f7f7f7;
    border-color: transparent;
    outline: none;
  }
}
