@import '../App/App.scss';

.get-in-touch {
  position: relative;
  height: auto;
  min-height: auto;
  margin-top: 30px;
  border-radius: 9px;
  overflow: hidden;
  &:before {
    z-index: 0 !important;
  }
  .content-wrapper {
    all: unset;
    display: block;
    position: relative;
    z-index: 2;
    padding-top: 24px;
  }
  .speech-bubble {
    display: block;
    width: 65%;
    height: auto;
    max-width: none;
    margin: 0 auto 20px;
    background-color: rgba(255, 255, 255, 0.8);
    p {
      color: rgba(0, 0, 0, 0.6);
      font-size: calc-rem(18);
      padding-bottom: 90px;
      @media (max-width: get-screen-width($tablet-width)) {
        padding-bottom: 0;
      }
    }
  }
  .character-block {
    width: 100%;
    max-width: none;
    margin: auto;
    .character span {
      height: 156px;
      background-size: contain;
      background-position: center;
      margin-bottom: -10px;
    }
  }
  .action-btn-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
    width: 100%;
    text-align: center;
    @media (max-width: get-screen-width($tablet-width)) {
      position: relative;
      background: white;
      transform: none;
      top: 0;
      left: 0;
      padding: 10px 0;
    }
    button {
      margin: 0 9px;
    }
  }
}

.get-in-touch-modal {
  .close-modal {
    color: white;
  }
  .modal-wrapper {
    padding: 0 0 30px 0;
    background-color: #fff;
    img.illu {
      width: 100%;
      border-radius: 20px 20px 0 0;
    }
  }
  h1 {
    max-width: 325px;
    margin: 0 auto;
  }
  .form-block {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  label {
    span {
      position: absolute;
      opacity: 0;
      left: 100%;
    }
    svg {
      position: absolute;
      color: #c2c2c2;
      font-size: 20px;
      left: 47px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .form-control {
    width: 100%;
    box-sizing: border-box;
    padding-left: 50px !important;
  }
}
