@import '../App/App.scss';

#adminAuth {
  .gradient-screen {
    @media (max-width: get-screen-width($tablet-width)) {
      background: linear-gradient(
        to bottom,
        rgba(122, 155, 248, 1) 40%,
        rgba(105, 93, 246, 1) 80%,
        white 80%
      );
    }
  }
  .logo {
    top: 50px;
    @media (max-width: get-screen-width($tablet-width)) {
      top: 0;
    }
  }
  .character-block {
    margin-top: 60px;
  }
  form {
    max-width: 540px;
    margin: 0px auto;
    padding: 70px 0 0;

    label {
      display: block;
    }
  }
  .form-block {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  label {
    span {
      position: absolute;
      opacity: 0;
      left: 100%;
    }
    svg {
      position: absolute;
      color: #c2c2c2;
      font-size: 20px;
      left: 47px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .form-control {
    width: 100%;
    box-sizing: border-box;
    padding-left: 50px !important;
  }
}
