@import '../containers/App/App.scss';

.circle-character {
  &.c-90 {
    --size: 90px;
    @media (max-width: get-screen-width($tablet-width)) {
      --size: 45px;
    }
  }
  &.c-60 {
    --size: 60px;
    @media (max-width: get-screen-width($tablet-width)) {
      --size: 45px;
    }
  }
  .speech-bubble {
    padding: 18px;
    border-radius: 9px;
    margin: 0 0 -10px calc(var(--size) - 10px);
    position: relative;
    font-weight: $light-weight;
    @media (max-width: get-screen-width($tablet-width)) {
      margin: 0 !important;
    }
    &::after {
      content: '';
      display: block;
      clip-path: polygon(46% 0, 25% 82%, 100% 0);
      width: 30px;
      height: 20px;
      position: absolute;
      left: 0;
      bottom: -20px;
      @media (max-width: get-screen-width($tablet-width)) {
        left: var(--size) !important;
        bottom: -20px !important;
        transform: none !important;
        // display: none;
      }
    }
    &.light {
      background-color: rgba(255, 255, 255, 0.8);
      color: rgba($color: #000000, $alpha: 0.6);
      &::after {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
    &.dark {
      background-color: rgba(150, 177, 248, 0.6);
      color: white;
      &::after {
        background-color: rgba(150, 177, 248, 0.6);
      }
    }
  }
  &.compact-size {
    display: flex;
    @media (max-width: get-screen-width($tablet-width)) {
      display: block;
    }
    .speech-bubble {
      order: 2;
      margin-left: 10px;
      &:after {
        bottom: 20px;
        left: -25px;
        transform: rotate(90deg);
      }
    }
  }
}

[class^='circle-character-'] {
  span {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    width: var(--size) !important;
    height: var(--size) !important;
    margin: unset;
    @media (max-width: get-screen-width($tablet-width)) {
      margin-top: -10px;
    }
  }
}
.circle-character-man span {
  background-image: url(./images/circle-character/circle-character-man_2x.png);
}

.circle-character-woman span {
  background-image: url(./images/circle-character/circle-character-woman_2x.png);
}
