@import '../containers/App/App.scss';

.character-block {
  max-width: 540px;
  margin: -53px auto 0;
  @media (max-width: get-screen-width($tablet-width)) {
    margin: 40px auto 0;
  }
  .speech-bubble {
    max-width: 540px;
    height: 80px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: get-screen-width($mobile-width)) {
      margin: 20px;
      height: auto;
    }
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-top: 20px solid rgba(255, 255, 255, 0.8);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
    }
    p {
      font-size: calc-rem(20);
      color: rgba(0, 0, 0, 0.8);
      text-align: center;
      margin: 0;
      width: 100%;
      @media (max-width: get-screen-width($mobile-width)) {
        font-size: calc-rem(18);
        line-height: 1.33;
        color: #000;
        // opacity: 0.6;
      }
    }
  }
}
[class*='character-'] span {
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 185px;
  height: 181px;
  position: relative;
  @media (max-width: get-screen-width($mobile-width)) {
    width: 122px !important;
    height: 120px;
  }
}
.character-man-front span {
  background-image: url(./images/characters/man-front.png);
}
.character-man-down span {
  background-image: url(./images/characters/man-down.png);
}
.character-man-down-right span {
  background-image: url(./images/characters/man-down-right.png);
}
[class*='character-woman-purple-'] span {
  width: 145px;
}
.character-woman-purple-closed-eyes span {
  background-image: url(./images/characters/woman-purple-closed-eyes.png);
}
.character-woman-purple-open-eyes span {
  background-image: url(./images/characters/woman-purple-open-eyes.png);
}
[class*='character-women-hijab-'] span {
  width: 151px;
}
.character-women-hijab-open-eyes span {
  background-image: url(./images/characters/woman-hijab-open-eyes.png);
}
.character-women-hijab-closed-eyes span {
  background-image: url(./images/characters/woman-hijab-closed-eyes.png);
}
.character-women-hijab-closed-eyes-circle span {
  background-image: url(./images/characters/woman-hijab-closed-eyes-circle.png);
}
.character-african-open-eyes span {
  background-image: url(./images/characters/african-open-eyes.png);
}
[class*='all-characters'] span {
  width: 486px;
  height: 211px;
  @media (max-width: get-screen-width($mobile-width)) {
    width: 326px !important;
    height: 131px;
  }
}
.all-characters span {
  background-image: url(./images/characters/all-characters.png);
}
.all-characters-open-eyes span {
  background-image: url(./images/characters/all-characters-open-eyes.png);
}
