@import '../containers/App/App.scss';

.gradient-screen {
  @include gradientBgWithIcons('./images/');
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
  &.hide-gradient {
    background-image: none;
    background-color: #8babff;
  }
  &.hide-pattern {
    &::before {
      display: none;
    }
  }
  .content-wrapper {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @media (max-width: get-screen-width($tablet-width)) {
      // width: calc(100% - 20px);
    }
    .logo {
      position: absolute;
      top: -20px;
      left: 30px;
    }
  }
  .seconday-link {
    font-size: calc-rem(18);
    font-weight: $light-weight;
    text-align: center;
    color: #ffffff;
    border: medium none;
    outline: medium none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 70px;
    &:hover {
      text-decoration: underline;
    }
    &.light {
      color: #ffffff;
    }
    &.dark {
      color: #7a9bf8;
    }
  }
  .learning-credits {
    position: fixed;
    bottom: 42px;
    right: 30px;
    @media (max-width: get-screen-width($tablet-width)) {
      position: static;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  .bottom-section {
    background-image: url(./images/illu-hill.svg),
      linear-gradient(#ffffff, #fff);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 50em;
    background-position: center top, center 192px;
    text-align: center;
    min-height: calc(100vh - 352px);
    position: relative;
    margin-top: -35px;
    @media (max-width: get-screen-width($mobile-width)) {
      margin-top: -95px;
    }
    > .opportunities__list {
      max-width: 540px;
      margin: 0 auto;
      @media (max-width: get-screen-width($mobile-width)) {
        max-width: 340px;
      }
    }
    > .ko-btn-primary {
      margin-top: 24px;
      margin-bottom: 70px;
      @media (max-width: get-screen-width($tablet-width)) {
        margin-bottom: 40px;
      }
    }
    .learning-credits {
      @media (max-width: get-screen-width($tablet-width)) {
        margin-top: 20px;
        margin-bottom: 0;
        padding-bottom: 50px;
      }
    }
  }
  .character-block {
    .character span {
      height: 211px;
    }
  }
  p.credits {
    color: #fdcb00;
    font-size: calc-rem(105);
    font-weight: $bold-weight;
    margin: -20px auto 0;
    @media (max-width: get-screen-width($mobile-width)) {
      font-size: calc-rem(60);
    }
    .credits-label {
      display: block;
      font-size: calc-rem(24);
      font-weight: $light-weight;
      margin: -20px auto 0;
      @media (max-width: get-screen-width($mobile-width)) {
        font-size: calc-rem(15);
      }
    }
  }
}
