/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.gradient-screen {
  background: #7a9bf8;
  background: -moz-linear-gradient(top, #7a9bf8 40%, #695df6 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, #7a9bf8),
    color-stop(100%, #695df6)
  );
  background: -webkit-linear-gradient(top, #7a9bf8 40%, #695df6 100%);
  background: -o-linear-gradient(top, #7a9bf8 40%, #695df6 100%);
  background: -ms-linear-gradient(top, #7a9bf8 40%, #695df6 100%);
  background: linear-gradient(to bottom, #7a9bf8 40%, #695df6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#7a9bf8',
      endColorstr='#695df6',
      GradientType=0
    );
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
}
.gradient-screen:before {
  content: '';
  background-color: transparent !important;
  background-image: url('./images/desktop-key-learning-bg-pattern.svg'),
    url('./images/illu-circles.svg'), url('./images/illu-stars.svg');
  background-repeat: no-repeat;
  background-size: 1854px, 1400px, 600px;
  background-position: top, top, center 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  z-index: 1 !important;
}
@media (max-width: 768px) and (min-width: 481px) {
  .gradient-screen:before {
    height: 130%;
  }
}
@media (min-height: 740px) {
  .gradient-screen:before {
    background-size: 1854px, 100% 100%;
  }
}
.gradient-screen.hide-gradient {
  background-image: none;
  background-color: #8babff;
}
.gradient-screen.hide-pattern::before {
  display: none;
}
.gradient-screen .content-wrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gradient-screen .content-wrapper .logo {
  position: absolute;
  top: -20px;
  left: 30px;
}
.gradient-screen .seconday-link {
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  border: medium none;
  outline: medium none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 70px;
}
.gradient-screen .seconday-link:hover {
  text-decoration: underline;
}
.gradient-screen .seconday-link.light {
  color: #ffffff;
}
.gradient-screen .seconday-link.dark {
  color: #7a9bf8;
}
.gradient-screen .learning-credits {
  position: fixed;
  bottom: 42px;
  right: 30px;
}
@media (max-width: 768px) {
  .gradient-screen .learning-credits {
    position: static;
    justify-content: center;
    margin-bottom: 20px;
  }
}
.gradient-screen .bottom-section {
  background-image: url(./images/illu-hill.svg), linear-gradient(#ffffff, #fff);
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 100% 50em;
  background-position: center top, center 192px;
  text-align: center;
  min-height: calc(100vh - 352px);
  position: relative;
  margin-top: -35px;
}
@media (max-width: 480px) {
  .gradient-screen .bottom-section {
    margin-top: -95px;
  }
}
.gradient-screen .bottom-section > .opportunities__list {
  max-width: 540px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .gradient-screen .bottom-section > .opportunities__list {
    max-width: 340px;
  }
}
.gradient-screen .bottom-section > .ko-btn-primary {
  margin-top: 24px;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .gradient-screen .bottom-section > .ko-btn-primary {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .gradient-screen .bottom-section .learning-credits {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}
.gradient-screen .character-block .character span {
  height: 211px;
}
.gradient-screen p.credits {
  color: #fdcb00;
  font-size: 6.5625rem;
  font-weight: 700;
  margin: -20px auto 0;
}
@media (max-width: 480px) {
  .gradient-screen p.credits {
    font-size: 3.75rem;
  }
}
.gradient-screen p.credits .credits-label {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  margin: -20px auto 0;
}
@media (max-width: 480px) {
  .gradient-screen p.credits .credits-label {
    font-size: 0.9375rem;
  }
}
