@import '../containers/App/App.scss';

.ko-modal {
  animation: modal-fade-in 0.35s;
  &::before {
    content: '';
    opacity: 0.6;
    background: #000000;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 20;
  }
}

.modal-wrapper {
  background-color: white;
  box-shadow: 0 11px 14px 0 rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  width: 480px;
  top: 50%;
  left: 50%;
  padding: 35px 15px;
  transform: translate(-50%, -50%);
  font-weight: $light-weight;
  font-size: calc-rem(14);
  color: #333;
  text-align: center;
  position: fixed;
  z-index: 21;
  overflow: hidden;
  @media (max-width: $mobile-width) {
    width: calc(100% - 20px);
    padding: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: calc-rem(24);
    margin-bottom: 18px;
  }

  p {
    color: $pale-text-color;
    font-size: calc-rem(15);
    line-height: 1.44;
    max-width: 384px;
    margin: 0 auto;
    padding: 10px;
  }
  .close-modal {
    border: medium none;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 20px;
    transform: scaleY(0.7);
    font-size: calc-rem(35);
    color: $primary-ko-color;
    font-weight: $thin-weight;
    cursor: pointer;
    padding: 0;
  }
  .action-btn-wrapper {
    margin-bottom: 30px;
    button {
      margin: 10px;
      @media (min-width: $mobile-width) {
        min-width: 196px;
      }
    }
  }
  .scrollable {
    min-height: 363px;
    max-height: 503px;
    overflow-y: scroll;
  }
}

.modal-fade-out {
  animation: modal-fade-out 0.5s;
  position: absolute;
  z-index: 999999;
}
@keyframes modal-fade-out {
  100% {
    opacity: 0;
  }
}
@keyframes modal-fade-in {
  0% {
    position: absolute;
    z-index: 999999;
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: absolute;
    z-index: 999999;
  }
}
.modal-loading-svg {
  width: 50%;
  margin: 20px auto 0;
  display: block;
}

.shareable-url {
  max-width: 384px;
  border-radius: 12px;
  background-color: #e9ebf6;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: calc-rem(18);
  font-weight: $bold-weight;
  color: #333333;
  padding: 20px 40px;
  margin: 20px;
  line-height: 37px;
  + .ko-action-link {
    font-size: calc-rem(12);
    margin: 15px auto;
  }
}
