@import '../containers/App/App.scss';

#UserGeneratedFields {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;

  input {
    outline: medium none;
    &:focus {
      border-color: $primary-ko-color;
    }
  }

  input,
  li,
  .helperspan {
    display: block;
    margin-top: 15px;
    color: #000;
    font-size: calc-rem(18);
    width: 100%;
    border-radius: 24px;
    border: 1px solid #dedede;
    background-color: white;
    padding: 12px;
    box-sizing: border-box;
  }

  .helperspan {
    color: #e3e3e3;
    cursor: pointer;
    span {
      opacity: 0.2;
    }
  }

  li {
    list-style-type: none;
    position: relative;
    user-select: none;
    white-space: pre;
  }

  li {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li {
    > span {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      &::after {
        content: ' ×';
        color: #333;
        font-weight: 400;
        opacity: 0.4;
        font-size: 30px;
        line-height: 20px;
        position: absolute;
        right: 20px;
        top: 14px;
      }
    }
    &:hover {
      &::after {
        opacity: 0.8;
      }
    }
  }
}
