@import '../containers/App/App.scss';

.zero-state {
  padding: 10px 30px 40px;
  max-width: calc(100% - 60px);
  text-align: center;
  margin: 30px auto 0;
  grid-column: 1 / span 2;

  p {
    margin-bottom: 20px;
  }
}
