//global font "color"(s)
$primary-text-color: black;
$primary-ko-color: #7a9bf8;
$primary-ko-color-inverse: #fff;
$primary-link-color: $primary-ko-color;

// Setting global font-size
$primary-font-size: 16; // Define primary font-size
@media screen and (min-width: 767px) {
  $primary-font-size: 14px;
}

// Converting 'px' to 'rem'
@function calc-rem($pixels, $context: $primary-font-size) {
  @return #{$pixels/$context}rem;
}

// importing font-family
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
$primary-font-family: 'Roboto', sans-serif; // Define primary font-family

// global font declarations
html,
body {
  font-family: $primary-font-family; // set global font-family
  font-size: calc-rem($primary-font-size); // set global font-size to 16px
  color: $primary-text-color;
}

// global font "opacity"
$class-slug: 'opacity-' !default;
@for $i from 1 through 10 {
  .#{$class-slug}#{$i} {
    opacity: $i/10;
  }
}
