@import '../App/App.scss';

footer {
  background-color: white;
  text-align: center;
  padding: 40px 90px;
  position: relative;
  display: flex;
  height: 0;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  @media (max-width: $tablet-width) {
    padding: 5px 0 0;
  }
  .social-profiles {
    a {
      @include transition-all();
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: #7ea2ff;
      color: white;
      text-align: center;
      line-height: 30px;
      font-size: calc-rem(14);
      border-radius: 50%;
      margin: 0 18px 0 0;
      &:hover {
        @include animation-on-hover;
      }
      @media (max-width: $tablet-width) {
        line-height: 30px;
        height: 30px;
        width: 30px;
        font-size: 20px;
        margin: 6px;
      }
    }
  }

  p {
    font-weight: $light-weight;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    a {
      font-size: calc-rem(14);
      color: #7a9bf8;
      margin: 0 18px;
    }
    @media (max-width: $tablet-width) {
      display: block;
      margin: 0;
      span {
        display: block;
      }
      > * {
        font-size: calc-rem(11);
      }
    }
  }
}
