.btn--dark {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.btn--dark:hover {
  background-color: #fff;
  color: #7a9bf8;
}

.form-block {
  position: relative;
  z-index: 6;
  margin-bottom: 18px;
}
.form-block label {
  font-weight: 300;
  font-size: 0.875rem;
}
.form-block input.form-control {
  transition: all 0.3s;
  border-radius: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #dedede;
  outline: medium none;
  padding: 0 20px;
  font-weight: 300;
  color: #000;
  font-weight: 300;
  font-size: 0.875rem;
}
.form-block input.form-control:focus {
  box-shadow: none;
  border: 1px solid rgba(139, 245, 240, 0.7);
}
.form-block input.form-control:disabled {
  background-color: #e2e2e2;
  color: #949494;
}
.form-block .form-group {
  position: relative;
}
.form-block .form-group.focused label {
  opacity: 0.8;
  transform: translateX(40px) translateY(0);
}
.form-block .form-group.focused svg {
  color: #95affc;
  opacity: 1;
}
.form-block .form-group .btn {
  min-width: 140px;
  height: 50px;
  line-height: 2.25rem;
  color: #95affb;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  border-radius: 50px;
  background: transparent none;
  border: 2px solid #95affb;
  margin: 0 5px;
  font-weight: 300;
  cursor: pointer;
  box-shadow: none !important;
}
.form-block .form-group .btn:disabled {
  opacity: 0.3;
}
.form-block .form-group .btn:hover,
.form-block .form-group .btn:focus {
  border-color: #7c9cfa;
  background-color: #7c9cfa;
  color: white;
}
.form-block .help-block {
  color: #de5b5b;
  font-size: calc-rem(14);
  font-weight: 300;
  padding: 0 20px;
}
.form-block button {
  margin: 40px auto 10px;
  display: block;
  padding: 0 50px;
  width: auto;
}
.form-block .form-link-wrapper {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
.form-block .form-link {
  display: inline-block;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}
.form-block .form-link:hover {
  color: #83c7ff;
}
.form-block .cancel-reg {
  display: block;
}
.form-block.form-block--horizontal .form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .form-block.form-block--horizontal .form-group {
    flex-direction: column;
    margin-bottom: 10px;
  }
}
.form-block.form-block--horizontal .form-group label {
  min-width: 170px;
  max-width: 170px;
  line-height: 50px;
  margin-bottom: 0;
}
.form-block.form-block--horizontal .form-group .help-block {
  position: absolute;
  bottom: -19px;
  font-size: 13px;
  left: 170px;
}
@media (max-width: 767px) {
  .form-block.form-block--horizontal .form-group .help-block {
    position: static;
  }
}

::placeholder {
  color: rgba(102, 102, 102, 0.2);
}

.feedback2 {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -30px;
}

.ko-btn-primary {
  border-radius: 27px;
  background-color: #7ea2ff;
  box-shadow: 0 12px 40px 0 rgba(126, 162, 255, 0.4);
  border: medium none;
  outline: medium none;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  outline: medium none !important;
}
.ko-btn-primary:hover {
  background: #6590ff;
}
.ko-btn-primary:disabled {
  background-color: #acacac;
  box-shadow: none;
}

.ko-btn-secondary {
  border-radius: 27px;
  background-color: white;
  box-shadow: 0 12px 40px 0 rgba(126, 162, 255, 0.4);
  border: 1px solid #7ea2ff !important;
  outline: medium none;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  color: #7ea2ff;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  outline: medium none !important;
}
.ko-btn-secondary:hover {
  border-color: #6590ff;
  color: #6590ff;
}
.ko-btn-secondary:disabled {
  background-color: #acacac;
  box-shadow: none;
}
.ko-btn-secondary.no-shadow {
  box-shadow: none;
}

.ko-action-link {
  font-size: 17px;
  font-weight: 300;
  color: #7895f7;
  display: block;
  text-align: center;
  margin: 5px auto;
  cursor: pointer;
  outline: medium none !important;
  border: medium none !important;
  background: transparent none !important;
}
.ko-action-link:hover {
  text-decoration: underline;
}

.success-btn,
.success-btn:hover,
.success-btn:focus,
.success-btn:active {
  background-color: #8cbe32;
  box-shadow: 0 12px 40px 0 rgba(140, 190, 50, 0.4);
}

.error-btn,
.error-btn:hover,
.error-btn:focus,
.error-btn:active {
  background-color: #ce5959;
  box-shadow: 0 12px 40px 0 rgba(206, 89, 89, 0.4);
}

[class*='seconday-link'] {
  outline: medium none !important;
}

.wihout-shadow {
  box-shadow: none;
}

.wihout-bgcolor {
  background-color: transparent;
}

.form-input {
  margin-bottom: 18px;
  position: relative;
  text-align: center;
}
.form-input input {
  width: 100%;
  height: 50px;
  border-radius: 24.5px;
  border: solid 1px #dedede;
  background-color: #ffffff;
  line-height: 50px;
  font-size: calc-rem(18);
  padding-left: 20px;
  padding-right: 20px;
  outline: medium none !important;
}
.form-input span[class*='-icon'] {
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
}
.form-input span[class*='-icon'] ~ input[type='text'],
.form-input span[class*='-icon'] ~ input[type='password'],
.form-input span[class*='-icon'] ~ input[type='email'] {
  padding-left: 54px;
}
.form-input button,
.form-input input[type='submit'] {
  margin-top: 12px;
  outline: medium none !important;
}
.form-input.has-error {
  margin-bottom: 38px;
}
.form-input.has-error input {
  border-color: #f75e20;
}
.form-input.has-error .help-block {
  height: 0;
  color: #f75e20;
}
