// Setting global font-size
$primary-font-size: 16; // Define primary font-size
@media screen and (min-width: 767px) {
  $primary-font-size: 14px;
}

@function calc-curved-radius($el-height) {
  @return #{$el-height/2}px;
}

// Converting 'px' to 'rem'
@function calc-rem($pixels, $context: $primary-font-size) {
  @return #{$pixels/$context}rem;
}

// Calculating screen width formedia queries
@function get-screen-width($screenWidth, $addedValueInPixel: 0) {
  @return #{$screenWidth + $addedValueInPixel};
}

// Get image url
@function get-image-url($image_url) {
  @return #{url($image_url)};
}
