body {
  background-color: #f7f7f7; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; }
  .page-wrapper > * {
    flex-grow: 1; }
  .page-wrapper header {
    flex-grow: 0; }
    @media (max-width: 768px) {
      .page-wrapper header {
        min-height: 60px; } }
  .page-wrapper main {
    flex-grow: 2; }
  .page-wrapper footer {
    flex-grow: 0; }

.page-main-title {
  font-size: 1rem;
  font-weight: 400;
  padding: 6px 0 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

#old-header > nav {
  z-index: 6; }
  #old-header > nav .navbar-brand img {
    width: 150px; }

.nav-tooltip {
  position: absolute;
  right: 0;
  min-width: 360px;
  background-color: #cc66aa;
  padding: 15px;
  display: flex;
  align-content: center;
  flex-direction: row-reverse; }
  @media (max-width: 767px) {
    .nav-tooltip {
      display: none; } }
  .nav-tooltip p {
    margin: 0;
    color: white;
    font-size: 15px;
    line-height: 1.2;
    margin-right: 18px;
    font-weight: 300; }
  .nav-tooltip::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 40px;
    top: -12px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 12px solid #cc66aa; }
  .nav-tooltip .nav-tooltip__close {
    min-width: 18px;
    height: 18px;
    border: medium none;
    outline: medium none;
    background: transparent;
    cursor: pointer; }

@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: row; } }

.navbar-nav li {
  position: relative; }
  .navbar-nav li span,
  .navbar-nav li .nav-link {
    padding: 8px 15px !important;
    display: inline-block;
    color: white;
    line-height: 30px;
    font-weight: 300; }
  .navbar-nav li.add-separator {
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    margin-left: 0px; }
    @media (max-width: 767px) {
      .navbar-nav li.add-separator {
        margin-left: 0; } }

@media (max-width: 767px) {
  .navbar-nav .user-li {
    display: none; } }

.navbar-nav .user-li .app-icon {
  width: 24px;
  margin-left: 20px; }

.navbar-nav .blank-li {
  flex-grow: 2; }

.mobile-navbar-btn {
  display: none;
  background: transparent none;
  border: medium none;
  color: white;
  outline: medium none !important;
  font-size: 20px; }
  @media (max-width: 768px) {
    .mobile-navbar-btn {
      display: block; } }

.page-wrapper nav.navbar {
  background-color: #95affc;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px; }

.page-wrapper .navbar-brand {
  width: 169px; }
  .page-wrapper .navbar-brand img {
    width: 100%; }

@media (max-width: 768px) {
  .page-wrapper .nav.navbar-nav {
    background-color: #95affc;
    width: 100%;
    position: absolute;
    z-index: 11;
    top: 60px;
    left: 0;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 15px 15px -13px rgba(164, 164, 164, 0.6);
    height: 0;
    overflow: hidden; }
    .page-wrapper .nav.navbar-nav .user-auth-action-btn {
      background-color: transparent;
      width: 100% !important; }
      .page-wrapper .nav.navbar-nav .user-auth-action-btn svg {
        margin: 0 5px; }
    .page-wrapper .nav.navbar-nav.opened {
      height: auto; } }

.nav-link {
  font-weight: 300;
  color: white !important; }
  @media (max-width: 768px) {
    .nav-link {
      display: none; } }
  .nav-link:hover {
    color: #8ff9fa !important; }

.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  opacity: 0.6;
  z-index: 10; }
  .loading-img.button-loader {
    width: 30px;
    position: relative;
    display: inline-block;
    margin-top: 20px; }

.loading-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  width: 40px;
  height: 40px;
  opacity: 1;
  z-index: 10; }
  .loading-component.relative {
    position: relative; }
  .loading-component svg {
    color: #95affc;
    font-size: 30px; }
  .loading-component.button-loader {
    width: 30px;
    position: relative;
    display: inline-block;
    margin-top: 20px; }

.alert {
  position: absolute;
  z-index: 20;
  border-radius: 30px;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
  transition: all 0.3s; }
  .alert[class*='alert-'] {
    top: 10px; }

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #7a9bf8; }
  a:hover {
    text-decoration: none;
    color: #83c7ff; }

.user-auth-action-btn {
  width: 100px;
  height: 46px;
  border-radius: 23px;
  line-height: 32px;
  font-weight: 100; }

.signout-button {
  transition: all 0.3s;
  font-weight: 100;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  line-height: 41px;
  text-align: center;
  padding: 0;
  overflow: hidden; }
  .signout-button svg {
    margin: 0 16px; }
  .signout-button:hover {
    width: 125px; }
    .signout-button:hover svg {
      margin: 0 5px; }

.policy-page,
.static-content {
  color: #000;
  padding-top: 30px;
  padding-bottom: 50px; }
  .policy-page:before,
  .static-content:before {
    content: '';
    background-color: #95affb;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    z-index: 5; }
  .policy-page h1,
  .static-content h1 {
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 0;
    padding: 6px 0 20px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .policy-page h2,
  .static-content h2 {
    font-size: 1rem;
    font-weight: 500;
    background-color: #e6ebf7;
    line-height: 1rem;
    padding: 10px;
    font-weight: 300;
    border-radius: 5px;
    margin-bottom: 10px; }
  .policy-page p + h2,
  .static-content p + h2 {
    margin-top: 50px; }
  .policy-page table,
  .static-content table {
    border: 1px solid black; }
  .policy-page th,
  .static-content th {
    border: 1px solid black;
    padding: 10px;
    text-align: center; }
  .policy-page td,
  .static-content td {
    border: 1px solid black;
    padding: 10px;
    text-align: left; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.center {
  text-align: center; }

.white-ko-block {
  border-radius: 9px;
  box-shadow: 0 5px 10px 0 #eeeeee;
  background-color: #ffffff;
  margin: 30px 0; }
