$desktop-width: 1200px;
$tablet2x-width: 991px;
$tablet-width: 768px;
$mobile-width: 480px;
$mini-mobile-with: 320px;

//global font "color"(s)
$primary-text-color: black;
$pale-text-color: #666;
$primary-ko-color: #7a9bf8;
$primary-ko-color-inverse: #fff;
$primary-link-color: $primary-ko-color;
$primary-success-color: #8cbe32;
$primary-success-color-shadow: rgba(140, 190, 50, 0.4);
$primary-error-color: #ce5959;
$primary-error-color-shadow: rgba(206, 89, 89, 0.4);
$primary-alert-color: #fdcb00;

//global "font-weight" variables
$thin-weight: 100;
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
