@mixin ko-gradient($gradientAlpha: 0.9) {
  background: rgba(122, 155, 248, $gradientAlpha);
  background: -moz-linear-gradient(
    top,
    rgba(122, 155, 248, $gradientAlpha) 40%,
    rgba(105, 93, 246, $gradientAlpha) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(122, 155, 248, $gradientAlpha)),
    color-stop(100%, rgba(105, 93, 246, $gradientAlpha))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(122, 155, 248, $gradientAlpha) 40%,
    rgba(105, 93, 246, $gradientAlpha) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(122, 155, 248, $gradientAlpha) 40%,
    rgba(105, 93, 246, $gradientAlpha) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(122, 155, 248, $gradientAlpha) 40%,
    rgba(105, 93, 246, $gradientAlpha) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(122, 155, 248, $gradientAlpha) 40%,
    rgba(105, 93, 246, $gradientAlpha) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#7a9bf8',
      endColorstr='#695df6',
      GradientType=0
    );
}

@mixin transition-all($transition-time: 0.2) {
  transition: all #{$transition-time}s;
}

@mixin animation-on-hover() {
  transform: scale(1.1) translateY(-2px);
}

@mixin gradientBgWithIcons($image_url) {
  @include ko-gradient(1);
  min-height: 100vh;
  &:before {
    content: '';
    background-color: transparent !important;
    background-image: url($image_url + 'desktop-key-learning-bg-pattern.svg'),
      url($image_url + 'illu-circles.svg'), url($image_url + 'illu-stars.svg');
    background-repeat: no-repeat;
    background-size: 1854px, 1400px, 600px;
    background-position: top, top, center 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    z-index: 1 !important;
    @media (max-width: get-screen-width($tablet-width)) and (min-width: get-screen-width($mobile-width, 1)) {
      height: 130%;
    }
    @media (min-height: 740px) {
      background-size: 1854px, 100% 100%;
    }
  }
}

@mixin hd-retina-screens {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
    only screen and (min--moz-device-pixel-ratio: 1.25),
    only screen and (-o-min-device-pixel-ratio: 1.25/1),
    only screen and (min-device-pixel-ratio: 1.25),
    only screen and (min-resolution: 200dpi),
    only screen and (min-resolution: 1.25dppx) {
    @content;
  }
}

%container-1440 {
  max-width: 1440px;
  margin: 0 auto;
}

%container-1280 {
  max-width: 1280px;
  margin: 0 auto;
}

%container-1200 {
  width: calc(100% - 40px);
  margin: 0 20px;
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
  @media only screen and (min-width: 1440px) {
    width: 1200px;
    margin: 0 auto;
  }
}
