/* Icon Bounce Out */
@include keyframes(#{$nameSpace}-icon-bounce-out) {
  50% {
    @include prefixed(transform, scale(1.5));
  }
}

@mixin icon-bounce-out {
  @include hacks();
  position: relative;
  padding-right: #{$spaceBetweenTextAndArrows};
  @include prefixed(transition-duration, $mediumDuration);

  &:before {
    content: '\f088';
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    @include prefixed(transform, translateZ(0));
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-property, transform);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:focus,
  &:active {
    &:before {
      @include prefixed(transform, scale(0.9));
      @include prefixed(transition-timing-function, cubic-bezier(0.47,2.02,0.31,-0.36));
    }
  }
}
